In [8]:
import numpy             as np
import pandas            as pd
import matplotlib.pyplot as plt
import seaborn           as sns
import os

In [9]:
amico_path = '../../Dados/AMICO1001/'

In [10]:
amico_cat = pd.read_csv(os.path.join(amico_path, 'Cl1001_spec_cat.txt'), skiprows=16, delim_whitespace=True, 
                        usecols=[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19], 
                        index_col=False)

In [11]:
header = ['Galaxy', 'id', 'mask_slit', 'ra', 'dec', 'gsdss', 'gerr', 'rsdss', 'rerr', 'g-r', 'grerr', 'template', 
          'R', 'vobs', 'vhel', 'verr', 'zobs', 'zhel', 'zerr', 'Member', 'Comments']

In [12]:
print(header[:-1])

['Galaxy', 'id', 'mask_slit', 'ra', 'dec', 'gsdss', 'gerr', 'rsdss', 'rerr', 'g-r', 'grerr', 'template', 'R', 'vobs', 'vhel', 'verr', 'zobs', 'zhel', 'zerr', 'Member']

In [13]:
amico_cat.columns = header[:-1]

In [25]:
amico_cat.to_csv('../../Dados/AMICO1001/Cl1001_spec_cat.csv', index=False)

In [15]:
amico_minij_cat = pd.read_csv(os.path.join(amico_path, 'mini-JPAS_1001_members.cat'), delim_whitespace=True, 
                              index_col=False)

In [17]:
header_minij = ['gal_id', 'ra', 'dec', 'x', 'y', 'r_band', 'field_probability', 'number_of_associated_clusters', 
                'id_clusgter', 'probabilistic_association_cluster']

In [19]:
amico_minij_cat.columns = header_minij

In [23]:
amico_minij_cat.to_csv('../../Dados/AMICO1001/mini-JPAS_1001_members.csv', index=False)

In [24]:
amico_minij_cat

,gal_id,ra,dec,x,y,r_band,field_probability,number_of_associated_clusters,id_clusgter,probabilistic_association_cluster
0,492,213.67861,51.860853,186.18574,32.898574,21.837,0.375716,1,1,0.624284
1,494,213.52359,51.954521,167.31831,51.895637,20.337,0.414384,1,1,0.585616
2,549,213.52623,51.951107,167.63352,51.208056,19.215,0.157302,1,1,0.842698
3,587,213.54411,51.944027,169.81671,49.759624,19.184,0.120789,1,1,0.879211
4,595,213.49638,51.977356,164.03456,56.512857,21.560,0.405320,1,1,0.594680
...,...,...,...,...,...,...,...,...,...,...
93,3848,213.73323,51.988299,193.23909,58.302179,19.639,0.271200,1,1,0.728800
94,4414,213.82439,51.971177,204.43001,54.749964,22.194,0.455712,1,1,0.544288
95,4691,213.79628,51.994708,201.01899,59.493845,18.829,0.469941,1,1,0.530059
96,5010,213.74391,52.047696,194.69570,70.165007,20.302,0.472189,1,1,0.527811
97,5523,213.72606,52.074069,192.56416,75.465588,20.583,0.432128,1,1,0.567872